ServerChatService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/.vs/Supercharger
/ChatClient/bin/Debug
/ChatClient/obj/Debug
/ServerChatService/obj/Debug
/ServerChatService/bin/Debug
/ServiceHost/obj/Debug
/ServiceHost/bin/Debug
