<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ServerChatService.ChatService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
            contract="ServerChatService.IChatService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SelfHostedServiceConsole" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>